.card-history{
    background-color: white;
    border-radius: 15px;
    border-width: 2px;
}

.date{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.card-desc{
    font-weight: bold;
    font-size: 25px;
}

.amount-text{
    font-weight: bold;
    font-size: 25px;
}