.box-card{
    background-color: white;
    height: 330px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #cbced1, -13px -13px 20px #fff;
    background-color: #f5f5f5;
}

.card-title{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.card-text{
    color: black;
    font-size: 100px;
    font-weight: bolder;
    margin-top: 50px;
}